<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.InsuranceUserMapper">
    <insert id="insert" parameterType="com.po.InsuranceUser">
        insert into insae_user(userCode,userPassword,userType,userName,weChat,idnumber,creationDate,createdBy,modifyDate,modifiedBy,activated) values(#{userCode},#{userPassword},#{userType},#{userName},#{weChat},#{idnumber},#{creationDate},#{createdBy},#{modifyDate},#{modifiedBy},#{activated})
    </insert>
    <select id="findByCode" parameterType="java.lang.String" resultType="com.po.InsuranceUser">
        select * from insae_user where userCode=#{userCode}
    </select>
    <update id="upact" parameterType="java.lang.String">
        update insae_user set activated=1 where userCode=#{userCode}
    </update>
</mapper>